---
import { ui } from '../i18n/ui';
import ChallengeCard from './ChallengeCard.astro';
import SolutionCard from './SolutionCard.astro';

export interface Props {
  lang: 'es' | 'en';
  items: Array<{ challenge: string; solution: string }>;
}

const { lang, items } = Astro.props;

const t = ui[lang].project;
---

<section class="challenges-section">
  <div class="container">
    <h2>{t.challengesSolutions}</h2>
    <div class="challenges-list">
      {items && items.map((item) => (
        <div class={`challenge-row`}>
          <ChallengeCard lang={lang} content={item.challenge}/>
          <div class="connector">
             <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
               <path d="M5 12h14"></path>
               <path d="m12 5 7 7-7 7"></path>
             </svg>
          </div>
          <SolutionCard lang={lang} content={item.solution}/>
        </div>
      ))}
    </div>
  </div>
</section>